.aside {
  background: #2D3E50;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: var(--main-height);
  width: 6.5rem;
  padding: 1.5rem;
  gap: 0.9rem;
}

.aside-setting i{
  font-size: 2.5rem;
  color: #FFFFFF;
}

