.navbar {
  background: #0763E7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  padding: 1.5rem;
}

.navbar-setting i{
  font-size: 2.5rem;
  color: #FFFFFF;
}

