.searcher-container {
  display: flex;
  align-items: center;
  gap: 0.4375em;
  margin: 1rem 0;
}

.searcher-container > * {
  flex: 6;
}

.searcher-container .searcher-button {
  flex: 1;
}

.dropdown {
  width: 100%;
  padding-left: 0.5rem;
}

.searcher-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.25rem 0;
}

.searcher-input {
  width: 100%;
  padding-left: 2.5rem;
}

.searcher-input::placeholder {
  opacity: 1; /* Normalizo opacidad para no desentonar con dropdows */
}

.searcher-input-container > span {
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateY(-40%); /* Corrección para centrar verticalmente */
}
/* TODO: Cambiar nombres y mejorar vista */

